@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #FFFBFB;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
}

.main_body {
    background-color: #F0EEF1;
    min-height: 100%;
    padding-top: 2rem;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card_container {
    width: 100%;
    flex-grow: 1;
    
    
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.card {
    background-color: #FFFBFB;
    border-radius: 10px;
    margin: 0px 1rem 1rem 1rem;
    padding: 1rem;
    max-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.popup {
    background-color: blanchedalmond;
    padding: 1rem;
    border-radius: 16px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 300px;
    max-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.popup input {
    min-height: 2rem;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto';
    padding-left: 1rem;
}

.readCheckbox {
    display: flex;
    align-items: center;
    font-size: small;
    gap: 15px;
    justify-content: space-between;

    font-size: 1rem;
}

.not_visible {
    visibility: hidden;
}

button {
    padding: .5rem 2rem;

}

.read {
    padding: .5rem 2rem;
    background-color: rgb(5, 187, 5);
    border-radius: 8px;
    border: none;
    font-size: large;
    font-weight: 900;
}

.notread {
    padding: .5rem 2rem;
    background-color: rgb(247, 78, 100);
    border-radius: 8px;
    border: none;
    font-size: large;
    font-weight: 900;
}

.removeButton {
    padding: .5rem 2rem;
    background-color: rgb(223, 141, 64);
    border-radius: 8px;
    border: none;
    font-size: large;
    font-weight: 900;
}